[submodule ".registry"]
	path = .registry
	url = https://github.com/conjugateprior/universe
	shallow = true
	branch = HEAD
[submodule "events"]
	path = events
	url = https://github.com/conjugateprior/events
	shallow = true
	branch = cran
	registered = true
[submodule "twfy"]
	path = twfy
	url = https://github.com/conjugateprior/twfy
	shallow = true
	registered = true
[submodule "austin"]
	path = austin
	url = https://github.com/conjugateprior/austin
	shallow = true
	registered = true
[submodule "cbn"]
	path = cbn
	url = https://github.com/conjugateprior/cbn
	shallow = true
	registered = true
